global:
  scrape_interval: 60s
  evaluation_interval: 60s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: api
    metrics_path: /metrics
    static_configs:
      - targets: ['api:8000']
